@use "../../style/_palettes.scss" as *;
.dashboard__sidebard {
  height: 100%;
  width: 18%;
  overflow: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18%;
    img {
      width: auto;
      height: auto;
    }
  }

  .table {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 92%;
    height: 6.5%;
    column-gap: 15px;
    padding-left: 20px;
    color: $black;
    cursor: pointer;

    img {
      width: 20px;
    }

    span {
      text-transform: capitalize;
      font-size: 0.9em;
    }
  }

  .tableActive {
    background-color: #e9caba50;
    border-right: 2px solid $secondary;
    color: $secondary;
  }
  .subtitle {
    width: 70%;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-left: 20px;
  }

  .divise {
    width: 80%;
    margin: 30px 20px;
    height: 1px;
    background-color: black;
  }

  .footer {
    width: 70%;
    margin-left: 20px;
    column-gap: 10px;
    height: min-content;
    margin: 10% 20px;
    span {
      text-transform: capitalize;
      font-size: 0.8em;
      word-spacing: 5px;
    }
    img {
      width: 70px;
    }
  }
}
