$primary:#FFFFFF;
$secondary:#904017;
$three:#707070;
$four:#F16923;
$five:#AD9139;


$black:#555353;
$border:#dcceceb8;
// Alert color
$successBorder:green;
$successBackground:#a4eea4;

$errorBorder:red;
$errorBackground:#e6acac;

$warningBorder:yellow;
$warningBackground:#ededc4;